.contents {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 15px;
  }
  
  #generateButton {
    margin-top: 5px;
    margin-bottom: 15px;;
  }

  .content {
    padding: 8px;
    border: 2px solid black;
  
    position: fixed;
    top: 50%;
    left: 20%;
  
    transform: translate(-50%, -50%);
  }
  
  .form-element {
    margin: 8px;
    text-align: left;
  }
  
  #notifikasiSisaKarakter {
    visibility: hidden;
  }